<a href="https://colab.research.google.com/github/raghdiness/Day-4-Practice/blob/main/Day_4_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
students = [
    {"name": "Ali", "math": 78, "science": 82},
    {"name": "Maya", "math": 65, "science": 91},
    {"name": "Omar", "math": 90, "science": 88},
    {"name": "Sara", "math": 55, "science": 60},
    {"name": "Noor", "math": 85, "science": 79}
]

In [ ]:

# Day 4 – Python Foundations + Data Handling

# --- Part 1 – Python Skill Drill ---
# TODO 1: Create a list of dictionaries for 5 fictional students with keys: name, math, science

students = [
    # Example: {"name": "Ali", "math": 78, "science": 82}
]

# TODO 2: Print only the names of students with math > 80
# for ... in ...:
#     if ...:
#         print(...)

# TODO 3: Add a new key "average" with the mean of math and science for each student
# for ... in ...:
#     ...

# TODO 4: Count how many have "average" above 80
# high_count = 0
# for ... in ...:
#     if ...:
#         high_count += 1
# print("Number of high performers:", high_count)

# TODO 5 (Stretch goal): Turn the above into a function high_performers()

# --- Part 2 – Mini Data Task in Pandas ---
import pandas as pd

# TODO 1: Create a DataFrame from the same student data
# df = pd.DataFrame(...)

# TODO 2: Select students with math > 80
# high_math = df.loc[ ... ]

# TODO 3: Add "average" column
# df["average"] = ...

# TODO 4: Count how many have average > 80
# high_avg_count = ...
# print("High performers (Pandas):", high_avg_count)

# --- Part 3 – Kaggle Titanic Filtering ---
# Instructions:
# 1. Download 'train.csv' from the Titanic competition on Kaggle
# 2. Upload it to Colab and read it using pandas
# 3. Filter passengers who are female and had a fare above 50

# Example:
# titanic = pd.read_csv("train.csv")
# filtered = titanic.loc[(titanic["Sex"] == "female") & (titanic["Fare"] > 50)]
# print(filtered.head())

In [3]:
for student in students:
    if student ["math"]>80:
         print(student["name"])

Omar
Noor

In [5]:
# TODO 3: Add a new key "average" with the mean of math and science for each student
for student in students:
    avg = (student["math"] + student["science"]) / 2

    # Add a new key-value pair to the dictionary
    student["average"] = avg

    print(student["average"])

80.0
78.0
89.0
57.5
82.0